{{ template "chart.header" . }}

{{ template "chart.description" . }}

This subchart is normally installed via the umbrella
[`openldap-stack`](../..). Install it standalone only if you don't need
phpLDAPadmin or Self Service Password sitting next to slapd.

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}
